body {
    width: 20%;
    margin: 0 auto;
    margin-top: 50px;
    font-family: 'Comic Sans MS';
}

.quote p {
    display: flex;
    width: 100%;
    height: 80px;
    border: 6px solid black;
    margin: -5px 0;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s linear;
}

.quote p:hover {
    background-color: orange;
}